/* CSS files add styling rules to your content */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  color: black;
}


/* Styling for the "Click Me" text */
/* .click-me-text {
  position: absolute;
  top: 50%;  /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%); /* Adjust the positioning */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  pointer-events: none; /* Ensure the text doesn't interfere with clicks */
  display: none; /* Hidden by default, shown only on mobile */
} */
